html {
    height: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(236, 236, 236);
    background-color: #262b2e;
}

@media (max-width: 1022px) {
    .header-nav {
      display: none;
    }
    .section {
      display: flex;
    }
    .list-inline-item {
      display: block;
    }
  }
