html {
    height: 100%;
}

@media (max-width: 1022px) {
    .header-nav {
      display: none;
    }
    .section {
      display: flex;
    }
    .list-inline-item {
      display: block;
    }
  }
