html {
    height: 100%;
}

body {
    background-image: url(https://oir.mobi/uploads/posts/2021-03/1616535672_28-p-neon-fon-30.jpg);
    background-color: black;
    text-align: center;
}

.main-basic {
    border: 1px solid #ffffff;
}
