html {
    height: 100%;
}

body {
    color: violet;
    background-color: rgba(112, 51, 255, 0.911);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.information {
    
    padding: 8px 20px;
    background-color: transparent;
    border: 2px solid violet;
    border-radius: 8px;
}

.information:hover {
    background-color: rgba(189, 130, 238, 0.308);
}

@media (max-width: 1022px) {
    .header-nav {
      display: none;
    }
    .section {
      display: flex;
    }
    .list-inline-item {
      display: block;
    }
  }
